In [1]:
import yfinance as yf
import pandas as pd

In [2]:
# Definir ticker
ticker = "SPY"

In [3]:
# Descargar datos hist√≥ricos
data = yf.download(ticker, start="2020-01-01", end="2025-04-25")

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [4]:
# Crear el DataFrame con periodo y valor
df = data[['Close']].copy()
df = df.rename(columns={'Close': 'valor'})
df['periodo'] = df.index
df = df[['periodo', 'valor']]

In [5]:
# Resetear index
df = df.reset_index(drop=True)

In [6]:
df.head()

Price     periodo       valor
Ticker                    SPY
0      2020-01-02  300.291595
1      2020-01-03  298.017761
2      2020-01-06  299.154602
3      2020-01-07  298.313507
4      2020-01-08  299.903412

In [7]:
df.shape

(1335, 2)

In [8]:
df.to_csv('spy500_valores.csv', index=False)